<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Nova Categoria</title></head>
<body>
<h2>Nova Categoria</h2>

<form th:action="@{/categorias}" th:object="${categoria}" method="post">
    <label>Nome:</label><br/>
    <input type="text" th:field="*{nome}" required minlength="3" maxlength="50"/><br/>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div><br/>

    <button type="submit">Salvar Categoria</button>
</form>

<br/>
<a href="/categorias">Voltar para lista de categorias</a>
</body>
</html>
