<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Categorias</title></head>
<body>
<h2>Lista de Categorias</h2>

<a href="/categorias/nova">Cadastrar nova categoria</a><br/><br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    <tr th:each="cat : ${categorias}">
        <td th:text="${cat.id}"></td>
        <td th:text="${cat.nome}"></td>
    </tr>
</table>

<br/>
<a href="/formulario">Voltar para cadastro de produto</a>
</body>
</html>
