<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
<h2>Lista de Produtos</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>descricao</th>
        <th>Marca</th>
        <th>Categoria</th>
    </tr>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}"></td>
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.preco}"></td>
        <td th:text="${produto.descricao}"></td>
        <td th:text="${produto.marca.nome}"></td>
        <td th:text="${produto.categoria.nome}"></td>
    </tr>
</table>
</body>
</html>
