<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Marcas</title></head>
<body>
<h2>Lista de Marcas</h2>

<a href="/marcas/nova">Cadastrar nova marca</a><br/><br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    <tr th:each="marca : ${marcas}">
        <td th:text="${marca.id}"></td>
        <td th:text="${marca.nome}"></td>
    </tr>
</table>

<br/>
<a href="/formulario">Voltar para cadastro de produto</a>
</body>
</html>
